@use '/src/styles/constants/colors';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 210px;
  margin: 4px;
  color: colors.$WHITE;
  background: gray;
}
