@use '/src/styles/constants/colors';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 638px;
  margin: 0 auto;
  font-size: 1.2rem;
  background: linear-gradient(#1e1e1e, #2c2b2b);

  .title {
    font-size: 1.2rem;
    color: colors.$GRAYD;
    text-align: left;
    text-shadow: #424d59;
    letter-spacing: 0.2rem;
  }
}
